<section id="cta">
  <header>
    <h1>Grind Fitness</h1>
    <nav id="homeNav">
      <ul>
        <li><a href="#">Menu</a></li>
        <li><a href="#features">Services</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/login">Sign in</a></li>
        <li><a href="/register">Sign up</a></li>
      </ul>
    </nav>
  </header>
  <article>
    <h2><span>Manage</span> your clients.</h2>
    <h2>Watch your clients and business <span>GROW!</span></h2>
    <h2>Services <span>free</span> until November 5, 2016.</h2>
    <div>
      <a href="">Find gym</a>
      <a href="/register">Join now</a>
    </div>
  </article>
</section>
<section id="features">
  <h3>Services</h3>
  <article class="featureList">
    <div class="feature">
      <h4>Meal Plans</h4>
      <p>Allows trainers to give their clients customized meal plans. Its important to be able to customize meal plans because every client is trying to end up with different results and their meal plans could affect this.</p>
    </div>
    <div class="feature">
      <h4>Workout Plans</h4>
      <p>Allows trainers to give their clients customized workout plans that tell the client exactly what exercises they need to do. Workout plans will also make it easier for a new trainer to start working with a current client.</p>
    </div>
    <div class="feature">
      <h4>Client Assessments</h4>
      <p>Trainers can leave their clients an assessment. Trainers can tell their clients they’re doing a good job or they need to improve on something. Trainers can update the assessment directly from the clients profile page.</p>
    </div>
  </article>
</section>
<section id="testimonials">
  <h3>Testimonials</h3>
  <article>
    <img src="assets/imgs/rocco.png" height="350" width="350" alt="Rocco before and after" />
    <h4>Hi my name is Rocco, people call me Big Rock for short. Before I started training with Brandon, I was out of shape and got no hoes. But now that Brandon has me swole, I get all the hoes and I've never felt better.</h4>
  </article>
</section>
<section id="pricing">
  <h3>Payment Options</h3>
  <article>
    <div class="planWrapper">
      <div class="planContainer">
        <div id="basic">
          <h4>Daily</h4>
          <p>$25</p>
        </div>
        <p>4 Days a week</p>
        <p>All services</p>
        <p>Progression graph</p>
      </div>
    </div>
    <div class="planWrapper">
      <div class="planContainer">
        <div id="plus">
          <h4>Weekly</h4>
          <p>$100</p>
        </div>
        <p>4 Days a week</p>
        <p>All services</p>
        <p>Progression graph</p>
      </div>
    </div>
    <div class="planWrapper">
      <div class="planContainer">
        <div id="premium">
          <h4>Monthly</h4>
          <p>$400</p>
        </div>
        <p>4 Days a week</p>
        <p>All services</p>
        <p>Progression graph</p>
      </div>
    </div>
  </article>
</section>
<section id="contact">
  <h3>We Want To Hear From You!</h3>
  <article class="contactList">
    <div class="contact">
      <h4>Customer Support</h4>
      <p>If you ever run into any problems and need some help fixing them, feel free to call our customer service hotline where we have people ready to talk to you 24/7 at 1-800-349-9482.</p>
    </div>
    <div class="contact">
      <h4>Request Info</h4>
      <p>If you have any additional questions that you need to have answered, please call us at 1-800-458-9843 where we have people ready to talk to you 24/7.</p>
    </div>
    <div class="contact">
      <h4>Social Media</h4>
      <p>@GrindFitness</p>
      <p>@GrindFitness</p>
      <p>@GrindFitness</p>
    </div>
  </article>
</section>
